<div class="stats">
  <circle-progress
    [percent]="100"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#a211f7'"
    [innerStrokeColor]="'#d58eff'"
    [animation]="true"
    [animationDuration]="2000"
    [subtitle]="'Usuários'"
    [subtitleFontSize]="20"
    [subtitleFontWeight]="'600'"
    [space]="5"
    [backgroundPadding]="2"
    [unitsFontSize]="16"
    [unitsFontWeight]="'600'"
    [titleFontSize]= "'30'"
    [titleFontWeight]="'600'"
  ></circle-progress>
  <span class="counter" [countUp]="totalUsers" [options]="countUpOptions">0</span>
    
  <circle-progress
    [percent]="activeUsersPerCent"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#07ff28'"
    [innerStrokeColor]="'#8affbf'"
    [animation]="true"
    [animationDuration]="2000"
    [subtitle]="'Ativos'"
    [subtitleFontSize]="20"
    [subtitleFontWeight]="'600'"
    [space]="5"
    [backgroundPadding]="2"
    [unitsFontSize]="16"
    [unitsFontWeight]="'600'"
    [titleFontSize]= "'30'"
    [titleFontWeight]="'600'"
  ></circle-progress>
  <span class="counter" [countUp]="activeUsers" [options]="countUpOptions">0</span>
    
  <circle-progress
    [percent]="inactiveUsersPerCent"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#ff0b0b'"
    [innerStrokeColor]="'#f8a9a9'"
    [animation]="true"
    [animationDuration]="2000"
    [subtitle]="'Inativos'"
    [subtitleFontSize]="20"
    [subtitleFontWeight]="'600'"
    [space]="5"
    [backgroundPadding]="2"
    [unitsFontSize]="16"
    [unitsFontWeight]="'600'"
    [titleFontSize]= "'30'"
    [titleFontWeight]="'600'"
  ></circle-progress>
  <span class="counter" [countUp]="inactiveUsers" [options]="countUpOptions">0</span>
</div>

<div class="stats">
  <circle-progress
    [percent]="maleUsersPerCent"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#4808f8'"
    [innerStrokeColor]="'#7cc0ff'"
    [animation]="true"
    [animationDuration]="2000"
    [subtitle]="'Masculinos'"
    [subtitleFontSize]="20"
    [subtitleFontWeight]="'600'"
    [space]="5"
    [backgroundPadding]="2"
    [unitsFontSize]="16"
    [unitsFontWeight]="'600'"
    [titleFontSize]= "'30'"
    [titleFontWeight]="'600'"
  ></circle-progress>
  <span class="counter" [countUp]="maleUsers" [options]="countUpOptions">0</span>
    
  <circle-progress
    [percent]="femaleUsersPerCent"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#f803ec'"
    [innerStrokeColor]="'#ec98e8'"
    [animation]="true"
    [animationDuration]="2000"
    [subtitle]="'Femininos'"
    [subtitleFontSize]="20"
    [subtitleFontWeight]="'600'"
    [space]="5"
    [backgroundPadding]="2"
    [unitsFontSize]="16"
    [unitsFontWeight]="'600'"
    [titleFontSize]= "'30'"
    [titleFontWeight]="'600'"
  ></circle-progress>
  <span class="counter" [countUp]="femaleUsers" [options]="countUpOptions">0</span>

  <circle-progress
    [percent]="less45YearsPerCent"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#4808f8'"
    [innerStrokeColor]="'#7cc0ff'"
    [animation]="true"
    [animationDuration]="2000"
    [subtitle]="'&lt;45'"
    [subtitleFontSize]="20"
    [subtitleFontWeight]="'600'"
    [space]="5"
    [backgroundPadding]="2"
    [unitsFontSize]="16"
    [unitsFontWeight]="'600'"
    [titleFontSize]= "'30'"
    [titleFontWeight]="'600'"
  ></circle-progress>
  <span class="counter" [countUp]="less45Years" [options]="countUpOptions">0</span>
    
  <circle-progress
    [percent]="more45YearsPerCent"
    [radius]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#f803ec'"
    [innerStrokeColor]="'#ec98e8'"
    [animation]="true"
    [animationDuration]="2000"
    [subtitle]="'&gt;=45'"
    [subtitleFontSize]="20"
    [subtitleFontWeight]="'600'"
    [space]="5"
    [backgroundPadding]="2"
    [unitsFontSize]="16"
    [unitsFontWeight]="'600'"
    [titleFontSize]= "'30'"
    [titleFontWeight]="'600'"
  ></circle-progress>
  <span class="counter" [countUp]="more45Years" [options]="countUpOptions">0</span>
</div>

<!-- <div 
  [countUp]="547" 
  [options]="countUpOptions" 
  [reanimateOnClick]="true" 
  (complete)="doSomethingOnComplete()">0</div> -->
