.stats {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-bottom: 40px;
}

.counter {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  font-weight: bold;
  position: relative;
  top: 190px;
  right: 120px;
}

h1 {
  color: #ec98e8;
}
